<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481541915325-oe5etbn0tlc741mmgkvtl42li2kgqkj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481541915325-oe5etbn0tlc741mmgkvtl42li2kgqkj2</string>
	<key>API_KEY</key>
	<string>AIzaSyDu9KV7zDaCx11DcU6APhdLUOAT1ePB_60</string>
	<key>GCM_SENDER_ID</key>
	<string>481541915325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SSW695.PackageGuardian</string>
	<key>PROJECT_ID</key>
	<string>guardians-of-packages</string>
	<key>STORAGE_BUCKET</key>
	<string>guardians-of-packages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481541915325:ios:9a12f7f061f559727c6dd4</string>
	<key>DATABASE_URL</key>
	<string>https://guardians-of-packages.firebaseio.com</string>
</dict>
</plist>